<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ITC230-Hotels</title>
    </head>
    <body>

        <div id='root'></div>
        <script type="text/babel">
            class HotelApp extends React.Component {
                constructor(props) {
                    super(props);
                    this.state = {
                        hotels: {{{hotels}}},
                        currItem: {},
                        filter: ""
                   };

                   this.onSearchChange = this.onSearchChange.bind(this);
                   this.clickItem = this.clickItem.bind(this);
                   this.onEditorChange = this.onEditorChange.bind(this);
                   this.onDeleteClick = this.onDeleteClick.bind(this);
               };


                render() {
                    return (
                        <div>
                            <Title title="Hotel Options" />
                            <ItemList items={this.state.hotels}
                                filterProp={this.state.filter}
                                clickProp={this.clickItem}/>
                            <SearchForm filterProp={this.state.filter}
                                changeProp={this.onSearchChange}/>
                            <SearchMirror filterPropMirror={this.state.filter}/>
                            <ItemEditor item={this.state.currItem}
                                editorChangeProp={this.onEditorChange}
                                onSave={this.onSaveClick}
                                onReset={this.onResetClick}
                                onDelete={this.onDeleteClick}
                                />
                        </div>

                    );
                }

                onSaveClick(event) {

                }

                onDeleteClick(event) {
                    console.log("currItem _id: " + this.state.currItem._id);
                    let itemToDelete = this.state.hotels.find((hotel) => {
                        console.log("hotelID: " + hotel._id);
                        return (hotel._id == this.state.currItem._id);
                    });
                    if (itemToDelete) {
                        fetch("/api/v1/hotels/delete/" + itemToDelete.name).then((response) => {
                            return response.json();
                        }).then((results) => {
                            // Filter all items except the one to be removed
                            let remainingHotels = this.state.hotels.filter((hotel) => {
                                return hotel._id !== itemToDelete._id;
                            });
                            //refresh list
                            this.setState({hotels: remainingHotels, currItem: {}});
                        });
                    }
                }

                onEditorChange(event) {
                    console.log("here is curritem name: " + this.state.currItem);
                    let hotel = this.state.currItem;

                    hotel[event.target.name] = event.target.value;
                    console.log(hotel);
                    this.setState({currItem: hotel});
                }

                onSearchChange(event) {
                    this.setState({filter: event.target.value.toLowerCase() });
                }

                clickItem(event) {
                    let itemToShow = this.state.hotels.find((hotel) => {
                        return (hotel._id == event.target.id);
                    });
                    this.setState({currItem: itemToShow});
                }

            }

            const Title = ({title}) => {
                return (
                   <div><h2>{title}</h2></div>
                );
            }
            const SearchMirror = (props) => {
                return <div><h3>You are currently searching for: {props.filterPropMirror}</h3></div>;
            }

            const ItemList = (props) => {
                const itemNodes = props.items.map((item) => {
                    if (item.name.toLowerCase().indexOf(props.filterProp) >= 0)
                        return <li key={item._id} id={item._id} onClick={props.clickProp}>{item.name}</li>;
                });
                return <ul>{itemNodes}</ul>;
            };

            const ItemEditor = (props) => {
                return (<div>
                    <h3>Current Item</h3>
                    <form onChange={props.editorChangeProp}>
                        <input type="text" name="name" value={props.item.name || ""}/><br/>
                        <input type="text" name="address" value={props.item.address || ""}/><br/>
                        <input type="text" name="cost" value={props.item.cost || ""}/><br/>
                    </form>
                    <button onClick={props.onSave}>Save</button>
                    <button onClick={props.onDelete}>Delete</button>
                    </div>);
            };

            const SearchForm = (props) => {
                return (
                    <div>
                        <label>Search for a hotel:</label>
                        <input name="searchNameInput" type="text"
                            value={props.filterProp}
                            onChange={props.changeProp}
                        />
                    </div>);
            };



            ReactDOM.render(<HotelApp/>, document.getElementById('root'));
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    </body>
</html>
